* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}
header {
  height: 100vh;
  background: linear-gradient(
                rgba(0,0,0,0.8),
                rgba(0,0,0,0.2)
              ),
              url(img/cover.jpg)
              fixed
              no-repeat 50% 50%;
  background-position: center;
  -webkit-background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
}
.nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: flex-end;
  padding-top: 5px;
}
.nav li a{
  text-decoration: none;
  color: white;
  font-size: 1em;
}
.nav a:hover {
  color: #82E0AA;
  border-bottom: 2px solid #82E0AA;
  transition: all 0.3s ease-in;
  padding: 5px 0;
}
.left {
  margin-right: auto;
}
.logo {
  width: 250px;
}
.modal {
    overflow-y: auto;
}
.modal-open {
    overflow: auto;
}
.modal-open[style] {
    padding-right: 0px !important;
}
.modal-content {
  background:rgba(0,0,0,0.3);
}
.close {
  color: white;
}
.close:hover {
  color: #82E0AA;
}
.emailLink, .emailLink:hover {
  text-decoration: none;
  color: white;
}
.copyEmailBtn {
  border-color: white;
}
.copyEmailBtn:hover {
  color: #82E0AA;
}
.fa-clipboard {
  color: white;
}
.heading {
  height: 75vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-content {
  overflow: auto;
}
.title {
  text-align: center;
  font-size: 5em;
}
/*Safari*/
@-webkit-keyframes color {
  0%   {color: #58D68D;}
  20%  {color: #F4D03F;}
  40%  {color: #EC7063;}
  60%  {color: #5DADE2;}
  80%  {color: #EB984E;}
  100% {color: #AF7AC5;}
}
@-moz-keyframes color {
  0%   {color: #58D68D;}
  20%  {color: #F4D03F;}
  40%  {color: #EC7063;}
  60%  {color: #5DADE2;}
  80%  {color: #EB984E;}
  100% {color: #AF7AC5;}
}
@-o-keyframes color {
  0%   {color: #58D68D;}
  20%  {color: #F4D03F;}
  40%  {color: #EC7063;}
  60%  {color: #5DADE2;}
  80%  {color: #EB984E;}
  100% {color: #AF7AC5;}
}
@keyframes color {
  0%   {color: #58D68D;} /*green*/
  20%  {color: #F4D03F;}  /*yellow*/
  40%  {color: #EC7063;} /*red*/
  60%  {color: #5DADE2;} /*blue*/
  80%  {color: #EB984E;} /*orange*/
  100% {color: #AF7AC5;} /*purple*/
}
.color {
  animation-name: color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.sub-title {
  font-size: 2em;
  text-align: center;
}
.bounce {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50% ;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  border-radius:50%;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}
.fa-angle-double-down {
  font-size: 3em;
}
.fa-angle-double-down:hover {
  color: #82E0AA;
}
#intro {
  height: auto;
  background-color: #F2F3F4;
}
#intro-content {
  height: auto;
  color: black;
  display: flex;
}
.row {
  height: auto;
}
.self-img img {
  padding: 1em;
  width: 200px;
}
.self-info {
  height: auto;
  padding: 3em;
  color: black;
  text-align: center;
}
.skills {
  height: auto;
  background: linear-gradient(
                rgba(0,0,0,0.6),
                rgba(0,0,0,0.2)
              ),
              url(img/web-design.jpg)
              fixed
              no-repeat 50% 50%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.skill-title {
  text-align: center;
}
.skills p {
  text-align: justify;
  padding-bottom: 1em;
}
.fa-user-circle, .fa-code, .fa-desktop {
  font-size: 40px;
  padding-bottom: 1em;
}
.skills-content {
  padding: 2em;
  background: rgba(0,0,0,0.3);
  margin-bottom: 2em;
  text-align: center;
}
.tech-logo img{
  max-height: 25%;
  max-width: 25%;
  padding-bottom: 1em;
}
.projects {
  height: 50vh;
  background: white;
}
.projects-showcase h4, .projects-showcase h5{
    color: black;
    text-align: center;
}
footer {
  height: 25vh;
  background-color: #25292C;
}
/*Large screens */
@media all and (max-width: 900px) {
  .tech-logo img{
    max-height: 50%;
    max-width: 50%;
  }
}
/* Small screens */
@media all and (max-width: 500px) {
  header {
    background-attachment: scroll;
  }
  .nav {
    flex-direction: column;
  }
  .nav li a:hover {
    border-bottom: none;
    transition: none;
    padding: none;
  }
  .left {
    padding-bottom: 1em;
  }
  .left, .right {
    margin: auto;
  }
  .heading {
    height: 50vh;
  }
  .title {
    font-size: 3em;
  }
  .sub-title {
    font-size: 1.5em;
  }
  .fa-angle-double-down {
    font-size: 2em;
  }
  .tech-logo img{
    max-height: 100%;
    max-width: 100%;
  }
}
